:root {
  --main: #95d9ea;
  --blue: rgb(0, 50, 74);
  --darkblue: #002333;
  --grey: #718096;
  --name: #ffffff;
  --light-text: #f7f7f7;
  --dark-text: #000000;
  --right-title: #2f80ed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    180deg,
    rgba(149, 217, 234, 0.8) 0%,
    rgba(0, 50, 74, 0.9) 100%
  );
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
}
a,
a:visited {
  text-decoration: none;
  color: var(--grey);
}
header {
  width: 90%;
  margin: 0.3rem auto;
}
.nav {
  background-color: var(--blue);
  border-radius: 0.8rem;
}
.menu {
  height: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu__item {
  padding-top: 1.1rem;
  height: 3.5rem;
  width: 14%;
  text-align: center;
}
.menu__item:hover {
  background-color: var(--main);
}
.menu__item a {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.menu__item a:hover {
  color: var(--dark-text);
}
main {
  min-height: 100vh;
  width: 88%;
  margin: 0 auto;
  border-radius: 1rem;
}
.content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 1rem;
}
.left__section {
  grid-column: span 2;
  height: 100%;
  background-color: var(--blue);
}
.left__section h2 {
  font-size: 1.5rem;
  padding-top: 2rem;
  text-transform: uppercase;
  color: var(--light-text);
}
.left__content {
  padding: 1rem 2rem;
}
.profile {
  width: 100%;
  border-bottom: 1px solid var(--light-text);
}
.profile img {
  width: 100%;
  border-radius: 50%;
  border: 8px solid var(--darkblue);
}
.name {
  padding: 1.2rem 0;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--name);
}
.position {
  display: block;
  font-size: 1.3rem;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--main);
}

.contacts__list {
  padding-top: 2rem;
}
.contacts__item {
  padding: 0.4rem 0;
  color: var(--grey);
}
.contacts__item i {
  padding-right: 1rem;
  font-size: 1.1rem;
  color: var(--main);
}
.skills {
}
.skills__list {
  padding-top: 2rem;
}
.skills__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.4rem 0;
}
.skill__title {
  color: var(--main);
  font-size: 1rem;
  padding-right: 1rem;
}
.progress__bar {
  position: relative;
  width: 100%;
  height: 0.4rem;
  background-color: var(--darkblue);
  border-radius: 12px;
}
.progress {
  position: absolute;
  height: 100%;
  left: 0;
  background-color: var(--grey);
  border-radius: 12px;
}
.vscode__progress {
  width: 70%;
}
.js__progress {
  width: 50%;
}
.html__progress {
  width: 80%;
}
.css__progress {
  width: 70%;
}
.git__progress {
  width: 60%;
}
.figma__progress {
  width: 30%;
}
.projects__list {
  padding-top: 2rem;
}

.right__section {
  grid-column: span 5;
  height: 100%;
  background-color: var(--light-text);
}
.right__section h2 {
  position: relative;
}
.right__content {
  padding: 1rem 2rem;
  color: var(--dark-text);
}
.right__title span {
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
  color: var(--light-text);

  font-weight: 600;
  line-height: 2.2rem;
  position: relative;

  border-radius: 0.3rem;
  background: var(--blue);
}
.right__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 0.2rem;
  background-color: var(--blue);
}
.text {
  padding: 1rem;
  line-height: 1.6rem;
  font-size: 1.1rem;
  color: var(--grey);
}

footer {
  width: 90%;
  margin: 0.3rem auto;
}
